In [ ]:
df_list = pd.read_html( "https://ourworldindata.org/ofdacred-international-disaster-data" )
len(df_list)

data = requests.get('https://ourworldindata.org/ofdacred-international-disaster-data')

In [ ]:
df_table1 = df_list[0]

In [ ]:
df_table1

In [ ]:
import numpy as np
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 'key2' : ['one', 'two', 'one', 'two', 'one'], 'data1' : np.random.randn(5), 'data2' : np.random.randn(5)})

In [ ]:
df

In [ ]:
df['data1'].groupby(df['key1'])
for group in df['data1'].groupby(df['key1']):
    print(group)

In [ ]:
for name, group in df['data1'].groupby(df['key1']):
    print(name)
    print(group)

In [ ]:
grouped = df['data1'].groupby(df['key1'])

In [ ]:
grouped.mean()

In [ ]:
df['data2'].groupby(df['key1']).sum()

In [ ]:
 means = df['data1'].groupby([df['key1'], df['key2']]).mean()
df

In [ ]:
means

In [ ]:
means.unstack()

In [ ]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])

In [ ]:
years = np.array([2005, 2005, 2006, 2005, 2006])
population = np.array([1908745, 789465166, 574875459,4544646,4545454])

In [ ]:
df1 = pd.DataFrame({'states':states, 'years': years, 'population': population})
df1

In [ ]:
df1['population'].groupby([df1['years'], df1['states']]).mean()

In [ ]:
df1.groupby([df1['years'], df1['states']]).size()

In [ ]:
for name, group in df1.groupby(df1['years']):
    print("name is ", name)
    print("group is", group)

In [ ]:
for name, group in df1.groupby(df1['years'])['population']:
    print(name)
    print(group)

In [ ]:
g = df1.groupby(df1['years'])

In [ ]:
for group in g:
    print(group)

In [ ]:
marks = pd.read_excel('student_details.xlsx')

In [ ]:
data = pd.DataFrame(marks)
data

In [ ]:

data.groupby(data['Course'])['Marks'].sum()

In [ ]:

import pandas as pd
df = pd.read_excel("student_details.xlsx")

df.groupby('Course')["Marks"].sum()

Marks_total = df.groupby('Course')["Marks"].sum().rename("Marks_Total").reset_index()

df_1 = df.merge(Marks_total)

df_1["Percent_of_marks"] = df_1["Marks"] / df_1["Marks_Total"]
df_1

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
flowers = pd.read_csv(url,header=None,names=['a','b','c','d','e'])
flowers

In [ ]:
flowers.rename(columns={'a':'sepal_l','b':'sepal_w', 'c':'petal_l','d':'petal_w','e':'species'}, inplace = True)
flowers

In [ ]:
print(flowers.describe())

In [ ]:
a = [1,2,3]
b=  [3,4,5]

In [ ]:
n1 = np.array([1,2,3])
n2 = np.array([3,4,5])

In [ ]:
d = np.append(n1,n2)
d1 = np.unique(d)
print(d1)

In [ ]:
from sklearn.preprocessing import LabelEncoder
D = ['A','B','B','C','D','E','B','A']
le = LabelEncoder()
print(le.fit_transform(D))

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
# creating initial dataframe
bridge_types = ('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
bridge_df = pd.DataFrame(bridge_types, columns=['Bridge_Types'])
print(bridge_df)
# creating instance of labelencoder
l = LabelEncoder()
# Assigning numerical values and storing in another column
bridge_df['Bridge_Types_Cat'] = l.fit_transform(bridge_df['Bridge_Types'])
bridge_df

In [ ]:
st = pd.DataFrame({'student':['A','A','B'], 'program':['ML','ML','AI'],'course':['DS','Python','DS'],'Marks':[50,48,56]})

In [ ]:
st

In [ ]:
st.groupby(st['program'])['course'].size()

In [ ]:
for name, group in st.groupby(st['program'])['course']:
    print(name)
    print(group)

In [ ]:
data = pd.DataFrame({'elec' : [2000,2500,3000], 'month':[1,2,3]})

In [ ]:
d = pd.concat([data]*30, ignore_index=True)
d